
@font-face {
  font-family: 'GOST-2-304-81typeA';
  src: url('GOST-2-304-81typeA.eot?#iefix') format('embedded-opentype'),  url('GOST-2-304-81typeA.woff') format('woff'), url('GOST-2-304-81typeA.ttf')  format('truetype'), url('GOST-2-304-81typeA.svg#GOST-2.304-81typeA') format('svg');
  font-weight: normal;
  font-style: normal;
}
